<!-- SideMenu -->
<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="onLoad(homePage)">
        <ion-icon name="home" item-left></ion-icon>
        Home
      </button>
      <button ion-item (click)="onLoad(detailsPage)" *ngIf="getUserType() === 'matrons'">
        <ion-icon name="archive" item-left></ion-icon>
        Daily Table
      </button>
      <button ion-item (click)="onLoad(attendancePage)" *ngIf="getUserType() === 'matrons' || getUserType() === 'supervisor'">
        <ion-icon name="albums" item-left></ion-icon>
        Attendance Table
      </button>
      <button ion-item (click)="onLoad(ratesPage)" *ngIf="getUserType() === 'matrons'">
        <ion-icon name="star" item-left></ion-icon>
        My Rates
      </button>
      <button ion-item (click)="onLoad(driverRatesPage)" *ngIf="getUserType() === 'driver'">
        <ion-icon name="star" item-left></ion-icon>
        My Rates
      </button>
      <button ion-item (click)="onLoad(profileChildrenPage)" *ngIf="getUserType() === 'parent'">
        <ion-icon name="body" item-left></ion-icon>
        Children Profile
      </button>
      <button ion-item (click)="onLoad(notificationPage)" *ngIf="getUserType() === 'parent'">
        <ion-icon name="alarm" item-left></ion-icon>
        Notification
      </button>
      <button ion-item (click)="onLoad(followerPage)" *ngIf="getUserType() === 'parent'">
        <ion-icon name="contacts" item-left></ion-icon>
        Followers
      </button>
      <button ion-item (click)="onLoad(myProfilePage)" *ngIf="getUserType() === 'parent'">
        <ion-icon name="contact" item-left></ion-icon>
        Profile
      </button>
      <button ion-item (click)="onLoad(profilePage)" *ngIf="getUserType() === 'matrons'">
        <ion-icon name="contact" item-left></ion-icon>
        Profile
      </button>
      <button ion-item (click)="onLoad(driverProfilePage)" *ngIf="getUserType() === 'driver'">
        <ion-icon name="contact" item-left></ion-icon>
        Profile
      </button>
      <button ion-item (click)="onLoad(superProfilePage)" *ngIf="getUserType() === 'supervisor'">
        <ion-icon name="contact" item-left></ion-icon>
        Profile
      </button>
      <button ion-item (click)="onLoad(contactUsPage)" *ngIf="getUserType() === 'parent'">
        <ion-icon name="settings" item-left></ion-icon>
        Contact Us
      </button>
      <button ion-item (click)="Logout()">
        <ion-icon name="arrow-round-back" item-left></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
